*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.App{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

table{
  border: 1px solid black;
}

td{
  border: 1px solid black;
  padding-inline: 20px;
  padding-block: 10px ;
  max-width: 400px;
  /* max-width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th{
  border: 1px solid black;
    padding-inline: 20px;
    padding-block: 10px;
}